<div style="padding: 0 0 2em 0; margin:0; ">
    
<h1 style="font-family: monospace; text-align: center; font-size:3em; color:rgb(4, 0, 113); padding-top: 1em;" class="bg-success"> Bienvenidos a la entrega de la clase 10 - HBS </h1>

<br>
{{#if mostrarForm}}   
    {{> form}}
{{/if}}

{{#if mostrarProductos}}
    {{> listaProductos}}
{{/if}}

</div>




